/* Paleta de Colores a utilizar */
$negro-mate: #393e46;
$gray-mate: #495464;
$gray-claro: #9ba4b4;
$margin-e: 10px;
$padding-e: 10px;
$white: #fff;


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Arimo', sans-serif;;
    font-size: 62.5%;
}

// Header
// .parent-container{
//     display: flex;
//     font-size: 20px;
//     .barra-header-title{
//         flex: 2 0 auto;
//         background-color: $negro-mate;
//         p{
//             display: inline-block;
//             margin: $margin-e;
//             text-align: center;
//             border: 1px solid $white;
//             border-radius: 5px;
//             background-color: $gray-mate;
//             padding: $padding-e - 5;
//             color: $white;
//         }
//     }
//     .barra-header{
//         flex: 1 0 auto;
//         background-color: $negro-mate;
//         .barra-header-container{
//             display: flex;
//             justify-content: flex-end;
//             li{
//                 margin: $margin-e;
//                 list-style: none;
//                 border: 1px solid $white;
//                 border-radius: 5px;
//                 background-color: $gray-mate;
//                 padding: $padding-e - 5;
//                 a{
//                     text-decoration: none;
//                     color: $white;
//                 }
//             }
//         }     
//     }       
// }


// MODIFICACIONES

.main-container{
    display: flex;
    flex-direction: column;
    background-color: $gray-claro;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    
    .div-container{
        display: inline;
        text-align: center;
        padding: $padding-e;
        background-color: $negro-mate;
        margin: 10px;
        border-radius: 5px;
        color: $white;
        font-size: 1.5rem;
        h1{
            margin: $margin-e;   
        }
        
    }
    ul{
        list-style: none;
    }
    #form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $gray-mate;
        color: $white;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .elements-form{
        margin: 10px;
        padding: 10px;
        font-size: 17px;
        li{
            margin: 15px;
        }
    }
    
    #container-boton{
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            background-color: $negro-mate;
            padding: 10px;
            color: $white;
        }
        
    }
    .coments{
        strong{
            display: inline-block;
            margin: 10px;
        }
    }
}



footer{
    margin: 10px;
    background-color: $negro-mate;
    color: $white;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 15px;
}











@media (min-width: 540px){
    .main-container{
        width: 500px;
        margin: 10px auto;
    }
}

@media (max-width: 540px){
    .main-container{
        margin: 5% 10%;
    }
    .form-container{
        margin: 0;
    }
}