/* Paleta de Colores a utilizar */
$negro-mate: #393e46;
$gray-mate: #495464;
$gray-claro: #9ba4b4;
$margin-e: 10px;
$padding-e: 10px;
$white: #fff;
$yellow-mate: #ffd460;
$color-claro: #eeeeee;

html{
    font-family: 'Ubuntu', sans-serif;
}

@mixin flexible {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin estiloFormulario{
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

@mixin inline{
    display: inline;
    font-weight: normal;
}

body{
    margin-top: 30px;
    background-color: #ffffd2;
}
.titulos{
    @include flexible();
    width: 100%;
    .div-container{
        width: 50%;
        min-width: 318px;
        @include flexible();
        flex-direction: column;
        text-align: center;
        background-color: $yellow-mate;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        #title{
            margin: $margin-e auto;
            border: 2px solid #000;
            padding: $padding-e + 5;
            border-radius: 10px;
            background-color: $gray-mate;
            color: $white;
            box-shadow: 15px 15px 20px #000;   
        }
        p{
            text-align: justify;
            margin: 10px 30px;
            border: 2px solid #000;
            padding: 15px;
            border-radius: 10px;
            background-color: $gray-mate;
            color: $white;   
        }
        .img-container{
            img{
                max-width: 100%;
                width: 100%;
                display: block;
                margin: 15px auto 0 auto;
                border-radius: 15px;
                box-shadow: 15px 15px 20px #000;    
            }
        }
        .img-description{
            text-align: center;
            margin: $margin-e auto;
        }
    }
}


.main-container{
    @include flexible();
    width: 100%;
    #form-container{
        width: 50%;
        min-width: 318px;
        background-color: $color-claro;
        @include flexible();
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        ul{
            list-style: none;
            #name-label{
                font-weight: bold;
                #name{
                   @include estiloFormulario();
                }
            }
            #email-label{
                font-weight: bold;
                #email{
                    @include estiloFormulario();
                }
            }
            #number-label{
                font-weight: bold;
                #number{
                    @include estiloFormulario();
                }
            }
            #dropdown-label{
                font-weight: bold;
                #drop{
                  @include estiloFormulario();
                }
            }
            #hobbie-label{
                font-weight: bold;
                ul{
                   @include inline();
                }
            }
            .label-lenguajes{
               font-weight: bold;
               ul{
                  @include inline();
               }
            
            }
            .coments{
                font-weight: bold;
                #sugerencias{
                    margin: 10px 0px;
                    border-radius: 10px;
                    padding: 5px;
                }
            }
            #container-boton{
                @include flexible();
                #submit{
                    font-weight: bold;
                    padding: 10px 15px;
                    border-radius: 10px;
                    background-color: #495464;
                    color: #eeeeee;
                    font-size: 15px;
                }
            }

        }
    }
}

// Footer

.footer-container{
    width: 100%;
    margin-top: 10px;
    .footer-item{
        margin: 0 auto;
        background-color: #495464;
        text-align: center;
        width: 50%;
        min-width: 318px;
        padding: 10px 0;
        border-radius: 10px;
        color: #eeeeee;
    }
}

