/* Paleta de Colores a utilizar */
html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin-top: 30px;
  background-color: #ffffd2;
}

.titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.titulos .div-container {
  width: 50%;
  min-width: 318px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #ffd460;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.titulos .div-container #title {
  margin: 10px auto;
  border: 2px solid #000;
  padding: 15px;
  border-radius: 10px;
  background-color: #495464;
  color: #fff;
  -webkit-box-shadow: 15px 15px 20px #000;
          box-shadow: 15px 15px 20px #000;
}

.titulos .div-container p {
  text-align: justify;
  margin: 10px 30px;
  border: 2px solid #000;
  padding: 15px;
  border-radius: 10px;
  background-color: #495464;
  color: #fff;
}

.titulos .div-container .img-container img {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 15px auto 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 15px 15px 20px #000;
          box-shadow: 15px 15px 20px #000;
}

.titulos .div-container .img-description {
  text-align: center;
  margin: 10px auto;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.main-container #survey-form {
  width: 50%;
  min-width: 318px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-container #survey-form ul {
  list-style: none;
}

.main-container #survey-form ul #name-label {
  font-weight: bold;
}

.main-container #survey-form ul #name-label #name {
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.main-container #survey-form ul #email-label {
  font-weight: bold;
}

.main-container #survey-form ul #email-label #email {
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.main-container #survey-form ul #number-label {
  font-weight: bold;
}

.main-container #survey-form ul #number-label #number {
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.main-container #survey-form ul #dropdown-label {
  font-weight: bold;
}

.main-container #survey-form ul #dropdown-label #drop {
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.main-container #survey-form ul #hobbie-label {
  font-weight: bold;
}

.main-container #survey-form ul #hobbie-label ul {
  display: inline;
  font-weight: normal;
}

.main-container #survey-form ul .label-lenguajes {
  font-weight: bold;
}

.main-container #survey-form ul .label-lenguajes ul {
  display: inline;
  font-weight: normal;
}

.main-container #survey-form ul .coments {
  font-weight: bold;
}

.main-container #survey-form ul .coments #sugerencias {
  margin: 10px 0px;
  border-radius: 10px;
  padding: 5px;
}

.main-container #survey-form ul #container-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-container #survey-form ul #container-boton #submit {
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #495464;
  color: #eeeeee;
  font-size: 15px;
}

.footer-container {
  width: 100%;
  margin-top: 10px;
}

.footer-container .footer-item {
  margin: 0 auto;
  background-color: #495464;
  text-align: center;
  width: 50%;
  min-width: 318px;
  padding: 10px 0;
  border-radius: 10px;
  color: #eeeeee;
}
/*# sourceMappingURL=style.css.map */